/* body */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

/* Block styles */
.body-container {

    padding: 1.875em;
    margin-top: 1.875em;
    width: 95%;

}
