.body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.875em;
    margin-top: 1.875em;
    width: 95%;
}


.photo-edit-container {
    background-color: #8e5915;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    padding: 1.875em;
    margin-bottom: 1.875em;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}


.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.upload-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Занимает половину экрана */
    max-width: 50%; /* Максимальная ширина 50% экрана */
}

.upload-form input[type="file"] {
    display: none;
}

.upload-form label {
    width: 90%; /* Занимает всю ширину формы */
    padding: 20px;
    color: black;
    background-color: #e59312;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5%;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    text-align: center;
}

.upload-form label:hover {
    background-color: #8e5915;
}

.upload-form button.form-button {
    width: 100%; /* Занимает всю ширину формы */
    padding: 20px;
    color: black;
    background-color: #e59312;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px; /* Закругляем углы */
}

.upload-form button.form-button:hover {
    background-color: #8e5915;
    color: black;
}


/* Стили для кнопок удаления */
/* Кнопка удаления */
.delete-button {

    background-color: #60050c;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.delete-button:hover {
    background-color: #c82333;
}
.upload-photo-form{
    width: 100%; /* Занимает всю ширину формы */
    padding: 10%;
    margin: 10%;
    background-color: #d3af85;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%; /* Закругляем углы */
    box-shadow: rgb(26, 20, 26) 0px 22px 70px 4px;

}
.preview-photo-block{
    min-width: 50%;
    max-width: 50%;
    min-height: 50%;
    box-shadow: rgb(26, 20, 26) 0px 22px 70px 4px;
    display: none;
}