
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 84%;
    height: 84%;
    overflow: auto;


}


.form-container {
    margin: 4em;
    width: 27%;
    padding: 2em;
    border-radius: 0.313em;
    box-shadow: rgb(26, 20, 26) 0px 22px 70px 4px;
    background-color: #f4b315;
}


.form-container h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.25em;
}


.item-container {
    margin-bottom: 1.25em;
    display: flex;
    flex-direction: column;
}

.item-container label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.625em;
}

.item-container input {
    padding: 0.625em;
    border: 0.063em solid #423738;
    border-radius: 0.313em;
    font-size: 1.2em;
    width: 100%;
    color: black;
    background-color: #e59312;
}

.item-container input:focus {
    background-color: #e59312;
    color: black;
    border-color: #423738;
    outline: none;

}

/* Для предотвращения изменения стилей при автозаполнении (Google Chrome) */
.item-container input:-webkit-autofill {
    background-color: #e59312 !important; /* Сохраняет цвет фона */
    color: black !important; /* Сохраняет цвет текста */
    border-color: #423738 !important; /* Сохраняет цвет границы */
    -webkit-box-shadow: 0 0 0px 1000px #e59312 inset; /* Запрещает изменение цвета фона */
    -webkit-text-fill-color: black !important; /* Запрещает изменение цвета текста */
}

/* Для предотвращения изменения стилей при автозаполнении (Firefox) */
.item-container input:-moz-autofill {
    background-color: #e59312 !important; /* Сохраняет цвет фона */
    color: black !important; /* Сохраняет цвет текста */
    border-color: #423738 !important; /* Сохраняет цвет границы */
}

/* Для предотвращения изменения стилей при автозаполнении (Edge) */
.item-container input:-ms-autofill {
    background-color: #e59312 !important; /* Сохраняет цвет фона */
    color: black !important; /* Сохраняет цвет текста */
    border-color: #423738 !important; /* Сохраняет цвет границы */
}


/* Стили для числовых стрелок */
.item-container input[type="number"]::-webkit-inner-spin-button,
.item-container input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-container input[type="number"] {
    -moz-appearance: textfield;
}

.item-container input[type="number"]::after {
    content: "⬆⬇"; /* Символы стрелок */
    position: absolute;
    right: 10px;
    color: #423738; /* Цвет стрелок */
    pointer-events: none;
    font-size: 1.2em;
}

.item-container {
    position: relative;
}

.item-container input[type="number"] {
    padding-right: 2em; /* Отступ для стрелок */
}


.form-button {
    padding: 0.625em;
    border-radius: 0.313em;
    background-color: #8e5915;
    color: #1a141a;
    border: none;
    font-size: 1.2em;
    width: 100%;
    min-height: 40%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.625em;
}

.form-button, .item-container input {
    box-sizing: border-box;

}

.input-file label {
    padding: 0.625em;
    border: 0.063em solid #423738;
    border-radius: 0.313em;
    font-size: 1.2em;
    width: 100%;
    min-height: 40%;
    background-color: #8e5915;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.625em;

}

.form-button:hover {
    opacity: 0.8;
}


.other-form-url {
    margin-top: 1.25em;
    text-align: center;
}

.other-form-url a {
    color: #1a141a;
    text-decoration: none;
}

.other-form-url a:hover {
    text-decoration: underline;
}

.form-messages {
    text-align: center;
    font-size: 1.4em;;
    margin-bottom: 1.5em;
}

/* Styling for error class */
.error {
    color: #650707;

}

/* Styling for form-error class */
.form-error {
    font-weight: bold;

}


/* Styling for item-error class */
.item-error {
    font-size: 1em;
    margin-bottom: 0.625em;
}

.logout {
    color: #1e3d05;
    font-size: 1em;

}

.image-preview img {
    width: 200px; /* Максимальна ширина */
    height: 200px; /* Максимальна висота */
    border: 0.063em solid #1a141a;;
    margin-top: 3em; /* Відступ зверху */
    border-radius: 50%;
    box-shadow: 0px 0.5em 1.2em rgba(0, 0, 0, 0.3);
}


/* select */

.select2-container {
    width: 100%;
    font-size: 1.2em;
    background-color: #8e5915;
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}

.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 0.1em solid #423738;
    border-radius: 4px;
    background-color: #8e5915;
    margin-right: 20px;
    vertical-align: middle;
}

.select2-results__option[aria-selected=true]:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #1a141a;;
    background-color: #8e5915;
    border: 0;
    display: inline-block;
    padding-left: 3px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #8e5915;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #8e5915;
    color: #272727;
}

.select2-container--default .select2-selection--multiple {
    margin-bottom: 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0.063em solid #423738;
    border-width: 2px;
}

.select2-container--default .select2-selection--multiple {
    border-width: 2px;
}

.select2-container--open .select2-dropdown--below {

    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.show-password {
    cursor: pointer;
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 16px;
}

.item-container textarea {
    width: 100%;
    padding: 0.625em;
    border: 0.063em solid #423738;
    border-radius: 0.313em;
    font-size: 1.2em;
    background-color: #e59312; /* Цвет фона */
    color: black; /* Цвет текста */
    resize: vertical; /* Разрешить изменение размера только по вертикали */
    outline: none; /* Убирает стандартное выделение браузера */
}

/* Стили для текстовой области при фокусе */
.item-container textarea:focus {
    background-color: #e59312; /* Сохраняет цвет фона при фокусе */
    color: black; /* Сохраняет цвет текста при фокусе */
    border-color: #423738; /* Цвет границы при фокусе */
    outline: none; /* Убирает стандартное выделение браузера */
}