<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/formStyle.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet</title>
</head>
<body>

<div class="body-container">
    <div class="form-container">
        <div class="form-messages">

            <div class="error form-error">
                <span th:if="${error}" th:text="*{error}"></span>
            </div>
        </div>

        <form th:action="@{/auth/register}" th:object="${user}" method="post">

            <div class="item-container">
                <div class="item-label"><label for="email">Email: </label></div>
                <div class="item-input"><input type="text" id="email" th:field="*{email}" required/></div>
                <div class="error item-error"><span th:if="${#fields.hasErrors('email')}" th:errorclass="error"
                                              th:errors="*{email}"></span></div>
            </div>

            <div class="item-container">
                <div class="item-label"><label for="login">Login:</label></div>
                <div class="item-input"><input type="text" id="login" th:field="*{login}"/></div>
                <div class="error item-error"><span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span></div>
            </div>

            <div class="item-container">
                <div class="item-label"><label for="password">Password:</label></div>
                <div class="item-input"><input type="text" id="password" th:field="*{password}" required/></div>
                <div class="error item-error"><span th:if="${#fields.hasErrors('password')}" th:errorclass="error"
                                              th:errors="*{password}"></span></div>
            </div>

            <button class="form-button" type="submit">Sing Up</button>
        </form>

        <div class="other-form-url">
            <a href="/auth/login"> Already Sing up ? </a>
        </div>
    </div>
</div>
</body>
</html>