<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/formStyle.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet</title>
</head>
<body>
<head th:replace="~{header :: header}"></head>

<div class="body-container">
    <div class="form-container">
        <div class="form-messages">

            <div class="error form-error">
                <span th:if="${error}" th:text="*{error}"></span>
            </div>

        </div>

        <form th:action="@{/web/user}" th:object="${user}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PATCH"/>

            <div class="item-container">
                <div class="item-label"><label for="login">Login:</label></div>
                <div class="item-input"><input type="text" id="login" th:field="*{login}"/></div>
                <div class="error item-error"><span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span></div>
            </div>
            <div class="item-container">
                <div class="item-label"><label for="email">Email:</label></div>
                <div class="item-input"><input type="text" id="email" th:field="*{email}"/></div>
                <div class="item-error error"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></div>
            </div>
            <div class="item-container">
                <div class="item-label"><label for="newPassword">New password:</label></div>
                <div class="item-input"><input type="text" id="newPassword" name="newPassword"/></div>
                <div class="item-error error"><span th:if="${#fields.hasErrors('newPassword')}"
                                              th:errors="*{newPassword}"></span></div>
            </div>
            <div class="item-container">
                <div class="item-label"><label for="bio">Bio:</label></div>
                <div class="item-input"><textarea type="text" id="bio" th:field="*{bio}"> </textarea> </div>
                <div class="item-error error"><span th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></span></div>
            </div>
            <div class="item-container">
                <div class="item-label input-file"><label for="newImage">Upload new image</label></div>
                <div class="item-input"><input type="file" accept="image/*" style="display: none;" id="newImage" name="newImage" onchange="previewImage(event)" /></div>
                <div class="image-preview" id="imagePreviewContainer" style="display: none;">
                    <img id="image-preview" src="#" alt="Image Preview" />
                </div>
                <div class="item-error error">
                    <span th:if="${#fields.hasErrors('newImage')}" th:errors="*{newImage}"></span>
                </div>
            </div>

            <button class="form-button" type="submit">Update</button>
        </form>

    </div>
</div>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('image-preview');
            output.src = reader.result;
            document.getElementById('imagePreviewContainer').style.display = 'block'; // Показуємо контейнер передпросмотру зображення
        }
        if (event.target.files.length > 0) {
            reader.readAsDataURL(event.target.files[0]);
        } else {
            // Приховуємо контейнер передпросмотру зображення, якщо файл не обрано
            document.getElementById('imagePreviewContainer').style.display = 'none';
        }
    }

</script>

</body>
</html>