<header>


    <div class="header-container">
        <div class="left-buttons">
            <button onclick="window.location.href='/web/excursions/new'">Add Excursion</button>
            <button onclick="window.location.href='/web/user'">Update Profile</button>
            <button onclick="window.location.href='/web/user/profile'">My Profile</button>
            <button onclick="window.location.href='/web/excursions'">All Excursion</button>
            <button onclick="window.location.href='/web/monuments'">All Monuments</button>
            <button onclick="window.location.href='/web/monuments/new'">Add Monument </button>
        </div>


        <div class="right-button">
            <button onclick="window.location.href='/web/logout'">Log out</button>
        </div>

    </div>
</header>