<header>


    <div class="header-container">
        <div class="left-buttons">
            <button onclick="window.location.href='/web/tasks/new'">Add Task</button>
            <button onclick="window.location.href='/web/tags/new'" >Add Tag</button>
            <button onclick="window.location.href='/web/user'">Update profile</button>
            <button onclick="window.location.href='/web/tags'" >All Tags</button>
            <button onclick="window.location.href='/web/tasks'">All Tasks</button>
        </div>


        <div class="right-button">
            <button onclick="window.location.href='/web/logout'">Log out</button>
        </div>

    </div>
</header>