<header>


    <div class="header-container">
        <div class="left-buttons">
            <button onclick="window.location.href='/web/excursion/new'">Add Excursion</button>
            <button onclick="window.location.href='/web/user'">Update Profile</button>
            <button onclick="window.location.href='/web/excursion'">All Excursion</button>
            <button onclick="window.location.href='/web/monuments'">All Monuments</button>
        </div>


        <div class="right-button">
            <button onclick="window.location.href='/web/logout'">Log out</button>
        </div>

    </div>
</header>