<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>

    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/itemPage.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diploma</title>
</head>
<body>
<head th:replace="~{header :: header}"></head>


<div class="body-container">


    <div class="item-container" th:if="${monument != null}">


        <div class="form-container photo-external-container">
            <div class="photo-container">

                <div class="photo">

                    <img id="currentImage" class="gallery-image" src="" alt="Image">

                </div>
                <div class="navigation">
                    <button id="prevButton" class="btn btn-primary"><</button>
                    <button id="nextButton" class="btn btn-primary">></button>
                </div>
            </div>
            <div class="buttons"
                 th:if="${#authentication.principal != null }">
                <form th:action="@{/web/monuments/{id}(id=${monument.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete"/>
                </form>
                <button class="form-button" >
                    <a th:href="@{/web/monuments/{monumentId}/edit(monumentId=${monument.id})}">Edit monument</a>
                </button>
                <button class="form-button" >
                    <a th:href="@{/web/monuments/{monumentId}/editPhotos(monumentId=${monument.id})}">Edit photos</a>
                </button>

            </div>
        </div>

        <div class="form-container bio-container">

            <h2>Title</h2>
            <h3><span th:if="${monument.title} != null" th:text="${monument.title}">Not indicated</span></h3>

            <h2>Description</h2>
            <h3><span th:if="${monument.description} != null" th:text="${monument.description}">Not indicated</span>
            </h3>

            <h2>Price</h2>
            <h3><span th:if="${monument.price} != null" th:text="${monument.price}">Not indicated</span></h3>

            <h2>Grade</h2>
            <h3><span th:if="${monument.avgGrade} != null" th:text="${monument.avgGrade}">Not indicated</span></h3>

            <h2>Created Date</h2>
            <h3><span th:if="${monument.createdDate} != null" th:text="${monument.createdDate}">Not indicated</span>
            </h3>

            <h2>City</h2>
            <h3><span th:if="${monument.city} != null" th:text="${monument.city}">Not indicated</span></h3>


            <h2>wpoihjhjok;gkjfgiujo;klk.ghhukbdxkjn lkejwsikh ewkjdo iwlhdniuehsg bduyjwshdnoc uehedpekhgs edioh
                ewndsuk dhniew
                eiwjsndokjew hsndioukxhewd ukj ewhsiukwehsfn iuckjehdsnoi kfjchewndsukjdhxnwe ukj ew eiwwshjfoh ewkds
                wejas doc hsdnxi kdnewoszh fnciw sbdnxkewjhxo ewkjsjdm nj hdsjhhdbcjhs rdshjdnkdsndfcekjdsdfff </h2>
            <h2>wpoihjhjok;gkjfgiujo;klk.ghhukbdxkjn lkejwsikh ewkjdo iwlhdniuehsg bduyjwshdnoc uehedpekhgs edioh
                ewndsuk dhniew
                eiwjsndokjew hsndioukxhewd ukj ewhsiukwehsfn iuckjehdsnoi kfjchewndsukjdhxnwe ukj ew eiwwshjfoh ewkds
                wejas doc hsdnxi kdnewoszh fnciw sbdnxkewjhxo ewkjsjdm nj hdsjhhdbcjhs rdshjdnkdsndfcekjdsdfff </h2>
        </div>

        <div class="form-container down-container">


            <h2>wpoihjhjok;gkjfgiujo;klk.ghhukbdxkjn lkejwsikh ewkjdo iwlhdniuehsg bduyjwshdnoc uehedpekhgs edioh
                ewndsuk dhniew
                eiwjsndokjew hsndioukxhewd ukj ewhsiukwehsfn iuckjehdsnoi kfjchewndsukjdhxnwe ukj ew eiwwshjfoh ewkds
                wejas doc hsdnxi kdnewoszh fnciw sbdnxkewjhxo ewkjsjdm nj hdsjhhdbcjhs rdshjdnkdsndfcekjdsdfff </h2>

        </div>
    </div>
</div>

<!-- Перемещение скрипта после загрузки jQuery -->
<script th:inline="javascript">
    /* Получение списка изображений */
    var images = /*[[${images}]]*/ [];

    var currentIndex = 0; // Индекс текущего изображения

    /* Функция для обновления отображаемого изображения */
    function updateImage() {
        $('#currentImage').attr('src', 'data:image/png;base64,' + images[currentIndex].image);
    }

    /* Обработчик нажатия кнопки "Следующее" */
    $('#nextButton').click(function () {
        currentIndex = (currentIndex + 1) % images.length; // Переход к следующему изображению
        updateImage(); // Обновление отображаемого изображения
    });

    /* Обработчик нажатия кнопки "Предыдущее" */
    $('#prevButton').click(function () {
        currentIndex = (currentIndex - 1 + images.length) % images.length; // Переход к предыдущему изображению
        updateImage(); // Обновление отображаемого изображения
    });

    /* Инициализация отображаемого изображения */
    updateImage();
</script>

</body>
</html>
