<!DOCTYPE html>
<html lang="en">
<head>

    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/itemPage.css}" rel="stylesheet"/>
    <link th:href="@{/css/monuments.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diploma</title>
</head>
<body>
<div class="form-container down-container" >

    <span>
        <div class="body-title">
            <h3>It looks like you don't have permission to access this page.
                <a th:href="@{/web/excursions}">You can get all excursions here</a></h3>
        </div>
    </span>

</div>
</body>
</html>